

  @font-face{ font-family:"StencilRough"; src:url("/assets/fonts/PorticoStencilRough.ttf") format("truetype"), url("/assets/fonts/PorticoStencilRough.woff2") format("woff2"), url("/assets/fonts/PorticoStencilRough.woff") format("woff"); font-weight:bold; font-style:normal;} 
  @keyframes zommInOut { from { background-size:  100% auto; } to { background-size: 140% auto; } }
  .logo{ 
    max-width:640px; 
    min-height:360px; 
    /**/
    background-image: url("/assets/img/pawel-czerwinski-KWpm9MmEo2s-unsplash.jpg");
    background-repeat: no-repeat;  
    background-position: center center;
    background-size:  100% auto; 
    /**/
    display:flex;  
    justify-content: center;
    align-items: stretch;
    /**/
    animation: 3s zommInOut forwards ;
    animation-delay: 0s;
  }

  @media (max-width: 360px) {
    .logo {min-height: 270px; background-size:cover!important; }
  }
  
.name[data-v-63dae1ee]{position:relative;margin:1rem;font-family:StencilRough;font-size:6rem;mix-blend-mode:lighten;background:hsla(0,0%,100%,.95)}.name>span[data-v-63dae1ee]{cursor:pointer;transition:transform .2s,top .3s,right .3s,bottom .3s,left .3s;display:inline-block;width:66px;height:76px;line-height:.8;text-align:center}.name>span.i[data-v-63dae1ee]{text-align:left}.name>small[data-v-63dae1ee]{height:62px;white-space:nowrap}.name>small>span[data-v-63dae1ee],.name>small[data-v-63dae1ee]{transition:transform .2s,top .3s,right .3s,bottom .3s,left .3s;display:inline-block;line-height:.8}.name>small>span[data-v-63dae1ee]{cursor:pointer;width:54px}.name>small>span._w[data-v-63dae1ee]{width:77px}.logo .e1[data-v-63dae1ee],.logo .e2[data-v-63dae1ee],.logo .i[data-v-63dae1ee],.logo .n[data-v-63dae1ee],.logo .s[data-v-63dae1ee]{position:relative;top:121px;transform:translate(0)}.logo small[data-v-63dae1ee]{position:relative;top:136px}@media (max-width:540px){.logo .i[data-v-63dae1ee]{width:40px}.logo small[data-v-63dae1ee]{position:absolute;top:100%;left:100%;transform:translate(-100%,-100%)}}@media (max-width:360px){.logo[data-v-63dae1ee]{min-height:270px}.logo small[data-v-63dae1ee]{transform:translate(100%,100%)}.logo .e1[data-v-63dae1ee],.logo .s[data-v-63dae1ee]{position:absolute;top:3rem;transform:translate(-100%)}.logo .e1[data-v-63dae1ee]{transform:translate(0)}.logo .e2[data-v-63dae1ee],.logo .i[data-v-63dae1ee],.logo .n[data-v-63dae1ee]{position:absolute;top:3rem;transform:translate(-100%,100%)}.logo .e2[data-v-63dae1ee]{transform:translateY(100%)}.logo .i[data-v-63dae1ee]{transform:translate(160%,100%);position:absolute}}